*.ui
*.uo
*~
*.hi
*.o
*.bak
Makefile.coq
Makefile.conf
.stack-work
Coq/Extraction/contracts-haskell/src/Examples/Futhark/*.c
Coq/Extraction/contracts-haskell/src/Examples/Futhark/PayoffFunction.*
Coq/Extraction/contracts-haskell/src/Examples/Futhark/contracts
Coq/Extraction/contracts-haskell/src/Contracts/Contract*